/* @group Elements */

	/* @group - Block elements */

	ol {
		list-style-type: decimal;
	}

	/* @end */
	
	/* @group - Inline elements */

	.ie7 img {
		-ms-interpolation-mode: bicubic;
	}
	
	strong {
		font-weight: bold;
	}
	
	em {
		font-style: italic;
	}
	
	a:active,
	a:hover {
		outline: none;
	}

	/* @end */
	
	/* @group - Form elements */

	label,
	input[type="button"],
	input[type="image"]
	input[type="submit"],
	button {
		cursor: pointer;
	}

	button,
	input,
	select,
	textarea {
		overflow: visible;
		vertical-align: baseline;
		width: auto;
	}
	
	textarea {
		overflow: auto;
		vertical-align: text-top;
	}

	button:focus {
		outline-style: dotted;
		outline-width: 1px;
	}

	input::-moz-focus-inner,
	button::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
	
	/* @end */

/* @end */


/* @group Helper classes */

.clear {
	zoom: 1;
}

.clear:after {
	clear: both;
	content: "";
	display: table;
}

.ir {
	display: block;
	overflow: hidden;
	text-align: left;
	text-indent: -999em;
}

.js .hide {
	display: none;
}

/* @end */